
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .btncontainer{
            padding : auto;
            align-items: center;
            text-align: center;
            /* height : 1000px; */
            /* background-color: aqua; */
            width: 60%;

        }
        .center {
            padding: auto;
            margin: auto;
            /* margin-left: 35%;
            margin-right: 25%; */
            align-content: center;
            align-items:  center;
            text-align: center;
            width: 60%;
            background: linear-gradient(-120deg,#2980b9, #8e441d);
            /* border: 5px solid #FFFF00; */
        }

        .question-statement{
          font-size: 1.2em;
          font-style: italic;
          color: black;
        }

      
    </style>
</head>

<body style ="background:linear-gradient(-120deg,#dcdf92, #4089d2);">
    <h1><center>Assignment 8: Query Optimization</center></h1>
    <div>
    <div style=" margin: 50px">
      <h2>Question 1: </h2>
      <p class="question-statement">Optimize the query (having Like statement) for searching in the text-type column with the clause -
        ‘UNION’. (Hint: Query can be stated as searching first_name’s starting with ‘A’ OR last_name’s
        starting with ‘B’</p>
      <p>Table : People</p>
      <p>Attribute: name_of_person</p>
      <p>ID, Name starting with or ending with queried letters will be displayed</p>
      <form class="example" method="POST" action="/assignment8/question1">
        <input
          type="text"
          placeholder="Prefix"
          name="prefix"
          style="width: 300px; font-size: large"
        />
        <input
          type="text"
          placeholder="Suffix"
          name="suffix"
          style="width: 300px; font-size: large"
        />
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
        {% for item in data %}
            <tr>
                <td> {{item[0]}} </td>
                &emsp;
                <td> {{item[1]}} </td>
                <!-- <td> {{item[2]}} </td> -->
                </br>
            </tr>
        {% endfor %}
    </div>
    <div></div>


    <div style=" margin: 50px">
      <h2>Question 4:</h2>
      <p class="question-statement"> Add a new column ‘date’ with date data-type, wherever suitable in your database and check if the
        searching can be optimized for a specific date (Hint: datatype for the ‘date’ column is important).</p>
      <p>Table : People</p>
      <p>Attribute: date_of_birth</p>
      <p>ID,Name of people with queried date_of_birth:</p>
      <form class="example" method="POST" action="/assignment8/question4">
        <input
          type="text"
          placeholder="YYYY-MM-DD"
          name="date_of_birth"
          style="width: 300px; font-size: large"
        />
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
        {% for item in data4 %}
            <tr>
                <td> {{item[0]}} </td>
                &emsp;
                <td> {{item[1]}} </td>
                </br>
            </tr>
        {% endfor %}
    </div>

    <div style=" margin-left: 50px;">
      <h2>Question 5:</h2>
      <p class="question-statement">Intentionally add a null value to any column of your choice and then perform the count operation,
        such that if a null is present, then the count command should return an ‘0’ and it should count
        from the remaining values.</p>
      <p>Table : Weapons</p>
      <p>Attribute: qty_remaining</p>
      <p>Total Unique Weapons</p>
      <form class="example" method="POST" action="/assignment8/question5">
        <input class="btn btn-primary" type="submit" value="Get Count">
      </form>
        {% for item in data5 %}
            <tr>
                <td> {{item[0]}} </td>
                </br>
            </tr>
        {% endfor %}
    </div>

    <div style=" margin: 50px">
      <h2>Question 7:</h2>
      <p class="question-statement">Perform JOIN on any two tables you find suitable, perform joins of your choice, and then explain
        how ‘join’ helps better in the optimization and what could be drawbacks of multiple joins.</p>
      <p>Table : soldiers and people</p>
      <p>Natural Join</p>
      <p>We obtain the list of people who are soldiers</p>
      <p>people_ID, name:</p>
      <form class="example" method="POST" action="/assignment8/question7">
        <input class="btn btn-primary" type="submit" value="Get List">
      </form>
        {% for item in data7 %}
            <tr>
                <td> {{item[0]}} </td>
                &emsp;
                <td> {{item[1]}} </td>

                </br>
            </tr>
        {% endfor %}
    </div>

  </body>
</html>
